<h2>Emergency Compliment</h2>

{{#if name }}
<h3>Welcome {{name}}!</h3>
{{else}}
<h3>Welcome!</h3>
{{/if}}

<form action="/" method="post">
<input id='newCompliment' type="text" name='newCompliment' placeholder='New Compliment'>
<input type="submit" value='Post It!'>
</form>

<p>{{newCompliment}}</p>



